:root {
    --color-black-000: #000000;
    --color-black-111: #111111;
    --color-muted: #666666;
    --br-color-e8e8e8:#E8E8E8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 15px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo a {
    color: var(--color-black-000);
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
    font-weight: 500;
}

nav ul li {
    cursor: pointer;
    display: flex;
    align-items: center;
}

nav ul li a {
    color: var(--color-black-000);
    text-decoration: none;
}

.nav-icons {
    display: flex;
    gap: 20px;
    font-size: 18px;
    cursor: pointer;
}

.categories {
    width: 100%;
    text-align: start;
    margin-top: 30px;
    border-bottom: 1.5px solid var(--br-color-e8e8e8);
}

.category-imgs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 20px;
}

.section1-img img {
    width: 100%;
    border-radius: 50%;
}

.section1-img p {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}

footer {
  background-color: var(--bg-footer);
  padding: 40px 0 20px;
  margin-top: 60px;
  border-top: 1px solid var(--br-color-eee);
}

.footer-texts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 2px solid var(--br-color-eee);
}

.logo {
    width: 200px;
    margin-right: 65px;
}

.footer-col h4 {
  margin-bottom: 15px;
}

.footer-col p {
    text-align: start;
}

.footer-col ul {
  list-style: none;
}

.footer-col ul li {
  margin-bottom: 8px;
  color: var(--color-666);
  font-size: 14px;
}

.footer-col ul li a {
    text-decoration: none;
    color: var(--color-666);
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-tastebite {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    color: var(--color-666);
}

.footer-tastebite svg {
    color: var(--color-666);
}

.footer-links {
    display: flex;
    gap: 15px;
    font-size: 14px;
    color: var(--color-666);
}

.footer-links a {
    color: var(--color-666);
}